/* logo */
.logo {
text-decoration:none ;
}

.logo-blue {
color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-weight: bold;
line-height: 1.19;
font-style: normal;

}
.logo-black {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  font-style: normal;
}

/* site-nav */
.site-nav {
  list-style: none;
}

.site-nav .link{
  color:#000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}
